body{
  background: #000;
}
.header{
  width: 100%;
  height: 13%;
  background-color: #0C0C0C;
  position: fixed;
  /* margin-top: -350px; */
  z-index: 999;
  /* position: absolute; */
}
.border{
  border: .1px solid #fff;
  width: 153px;
  height: 148px;
  border-radius: 50%;
  margin: 237px 0px 0px 950px;
}
.sun{
  margin: -141px 0px 0px 961px;
  animation: sun 60s infinite linear   ;
}
@keyframes sun{
  100%{
    transform: rotate(360deg);
  }
}
.border-2{
  border: .1px solid #fff;
  width: 202px;
  height: 191px;
  border-radius: 50%;
  margin: -184px 0px 0px 927px;
}
.mercury{
  margin: -98px 0px 0px 942px;
  animation: mercury 4s infinite linear;
  transform-origin: 85px 0px;
}
@keyframes mercury{
  100%{
    transform: rotate(360deg);
  }
}
.venus{
  margin: -96px 1px 0px -50px;
  animation: venus 4.2s infinite linear;
  transform-origin:110px 0px ;
}
@keyframes venus{
  100%{
    transform: rotate(360deg);
  }
}
.sun-story{
  margin: 250px 0px 0px 880px;
}
.border-3{
  border: .1px solid #fff;
  width: 258px;
  height: 241px;
  border-radius: 50%;
  margin: -232px 0px 0px 901px;
}
.earth{
  margin: -123px 0px 0px 890px;
  animation: earth 4.4s infinite linear ;
  transform-origin: 140px 0px;
}
@keyframes earth{
  100%{
    transform: rotate(360deg);
  }
}
.border-4{
  border: .1px solid #fff;
  width: 309px;
  height: 289px;
  border-radius: 50%;
  margin: -282px 0px 0px 875px;
}
.mars{
  margin: -145px 0px 0px 870px;
  animation: mars 4.6s infinite linear ;
  transform-origin: 161px 0px;
}
@keyframes mars{
  100%{
    transform: rotate(360deg);
  }
}
.border-5{
  border: .1px solid #fff;
  width: 380px;
  height: 357px;
  border-radius: 50%;
  margin: -338px 0px 0px 840px;
}
.jowish{
  margin: -179px 0px 0px 822px;
  animation: mars 4.8s infinite linear ;
  transform-origin: 210px 0px;
}
.system{
  margin: 0px 0px 0px 0px;
}
.border-6{
  width:481px ;
  height:449px ;
  border: .1px solid #fff;
  border-radius: 50%;
  margin: -418px 0px 0px 790px;
}
.saturn{
  animation: saturn 5s infinite linear ;
  transform-origin: 260px 0px;
  margin: -224px 0px 0px 771px;
}
@keyframes saturn{
  100%{
    transform: rotate(360deg);
  }
}
.system{
  margin: 330px 0px 0px 30px;
}
.border-7{
  width:570px ;
  height:534px ;
  border: .1px solid #fff;
  border-radius: 50%;
  margin: -505px 0px 0px 746px;
}
.uran{
  animation: uran 5.2s infinite linear ;
  transform-origin: 298px 0px;
  margin: -268px 0px 0px 731px;
  border-radius: 50%;
  box-shadow:0px 0px 20px  #4f4f4f;
}
@keyframes uran{
  100%{
    transform: rotate(360deg);
  }
}
.border-8{
  width:669px ;
  height:625px ;
  border: .1px solid #fff;
  border-radius: 50%;
  margin: -595px 0px 0px 696px;
}
.neptune{
  animation: neptune 5.4s infinite linear ;
  transform-origin: 342px 0px;
  margin: -312px 0px 0px 691px;
  box-shadow:0px 0px 20px  #4f4f4f;
  border-radius: 50%;
}
@keyframes neptune{
  100%{
    transform: rotate(360deg);
  }
}
.firsttext{
  font-size: 42px;
  color: #FFD832;
  background-image: linear-gradient(#FFD832 , #F46D03) ;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -525px 0px -6px 250px;
}
@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2") ,
}
.textmiddle{
  color: #fff;
  line-height: 28px;
  margin: 10px 0px 0px 105px;
  font-size: 16px;
}
.button{
  text-align: center;
  font-size: 40px;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(#FFD832 , #F46D03 60%);
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: 9px 0px 0px 218px;
  /* box-shadow: 0px 2px 22px #F46D03 , 0px -4px 6px #fff  ;  */
}
.buttonshadow{
  position: absolute;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  margin: -20px 0px 0px 0px;
  box-shadow: 0px 2px 22px #F46D03 , 0px -4px 6px #fff  ;
  z-index: -999;
  opacity: 80%;
}
.VIEW{
  position: absolute;
  font-size: 32px;
  margin: 12px 0px 0px 238px;
  font-family: 'Montserrat-SemiBold' , serif ;
  font-weight: bold;
  font-style: italic;
  opacity: 87%;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src:
    local("Montserrat-SemiBold"),
    url("/fonts/Montserrat-SemiBold.woff2") format("woff2") ,
}
.buttonall{
  margin-top: 8px;
  margin-left: 34px ;
}
.textmiddle{
  line-height: 28px;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
}
.spaceimage { 
  margin: 7px 0px 0px 80px;
}
.spaceimageshadow{
  box-shadow: 0px 2px 20px #fff;
}
.home-header-text{
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -54px 0px 0px 250px;
}
.home-header-text::before{
  content:'' ;
  position: absolute;
  top: -5px;
  left: -8px;
  width: calc(100% + 20px);
  height:  calc(100% + 10px);
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .5s ease-in-out ;
}
.header-text{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  
}
.home-header-text:hover::before{
  opacity: 1;
}
@keyframes home{
  100%{
    
  }
}
.planets-header-text{
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -54px 0px 0px 450px;
  
}
.planets-header-text::before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 14px);
  height: calc(100% + 12px);
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.planets-header-text:hover::before{
  opacity: 1;
}
.about-header-text{
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -54px 0px 0px 650px;
}
.about-header-text::before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 14px);
  height: calc(100% + 12px);
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.about-header-text:hover::before{
  opacity: 1;
}
.contacts-header-text{
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -54px 0px 0px 850px;
}
.contacts-header-text::before{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 14px);
  height: calc(100% + 12px);
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.contacts-header-text:hover:before{
  opacity: 1;
}
.telephone{
  position: absolute;
  margin: -65px 0px 0px 800px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background:linear-gradient(#FFD832 , #F46D03) ;
}
.language{
  position: absolute;
  color: #fff;
  width: 50px;
  height: 24px;
  font-size: 18px;
  font-family: 'Montserrat-SemiBold' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -56px 0px 0px 1050px;
  /* background: linear-gradient(#FFD832 , #F46D03); */
  /* background: #fff; */
}
.world{
  position: absolute;
  margin: -65px 0px 0px 1002px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background: #fff;
  opacity: 90%;
}
.worldlanguage{
  margin-left: 70px;
}
.login-header-text{
  white-space: nowrap;
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat-SemiBold' , serif ;
  font-weight: bold;
  font-style: italic;
  margin: -54px 0px 0px 1220px;
}
.leftsideheader{
  margin: 0px 0px 0px 30px;
}
.centersideheader{
  margin-left: 10px;
}
.header-text{
  position: absolute;
  margin: 10px 0px 0px 0px;
}
.square{
  position: absolute;
  width: 500px;
  height: 300px;
  border: 1px solid #fcfcfc;
  background: linear-gradient(#FFD832 , #F46D03);
  border-radius: 40px;
  margin: 262px 0px 0px 483px;
}
.inputfirst{
  font-size: 16px;
  width: 220px;
  height: 30px;
  margin: 30px 0px 0px 140px;
  background: #f1f1f1;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  border-radius: 20px;
}
.label{
  font-size: 18px;
  position: absolute;
  color: #0b0a0a;
  margin: 35px 0px 0px 36px;
  font-family: 'Montserrat-SemiBold' , serif ;
  font-weight: bold;
}
input:focus{
  border: 1px solid #F46D03;
}
.allusername{
  margin: 46px 0px 0px 10px;
}
.login{
  position: absolute;
  font-size: 22px;
  color: #222121;
  margin: 28px 0px 0px 200px;
  font-family: 'Montserrat-SemiBold' , serif ;
  font-weight: bold;
}
.inputsecont{
  font-size: 26px;
  width: 220px;
  height: 30px;
  margin: 30px 0px 0px 140px;
  background: #f1f1f1;
  font-family: 'Montserrat' , serif ;
  font-weight: bold;
  border-radius:20px;
}
.passwort{
  font-size: 18px;
  position: absolute;
  color: #0b0a0a;
  margin: 34px 0px 0px 40px;
  font-family: 'Montserrat-SemiBold' , serif ;
  font-weight: bold;
}
.allpasswort{
  margin: 10px 0px 0px 10px;
}
button{
  font-size: 20px;
color: #f1f1f1;
width: 120px;
height: 34px;
white-space: nowrap;
background: #fe4747;
border-radius: 20px;
font-family: 'Montserrat' , sans-serif ;
  font-weight: bold;
  border-radius: 20px;
  margin: 20px 0px 0px 179px;
}
.alltextinsquare{
  margin: 52px 0px 0px 0px ;
}

